extends layout

block content
    div.container-fluid
        .row.justify-content-md-center
            .col-sm-12
                table(id="allcards", class="table table-striped table-bordered display", style="width:100%")
                    thead
                        tr
                            th Name (Ar)
                            th Phone
                            th Emirates ID number
                            th Hall
                            th Zone
                            th Seat
                            th Attended
                            th Action
                    tbody
                    tfoot
                        tr
                            th Name (Ar)
                            th Phone
                            th Emirates ID number
                            th Hall
                            th Zone
                            th Seat
                            th Attended
                            th Action

block extra-css
    link(rel='stylesheet', href='/stylesheets/DataTables/datatables.min.css')

block extra-js
    script var $data= !{JSON.stringify(data).replace(/<\//g, '<\\/')}
    script(src="/javascripts/DataTables/datatables.min.js")
    script(src="/javascripts/table.js")