extends layout

block content
    .print
        a(class="btn btn-outline-secondary" href="javascript:void" onclick=`pop_print(${visitor.id})`)
            i.fas.fa-print
            span print
    div(id="badgeArea")
        img(class="badge-img",src=`/images/${visitor.badge}.jpg`)
        div.name-holder
            h1= visitor.name_ar
            if visitor.badge != 'all'
                h1 Hall: #{visitor.hall}
                h1 Zone: #{visitor.zone}
                h1 Seat: #{visitor.seat}

block extra-css
    link(rel="stylesheet", href="/stylesheets/card.css")

block extra-js
    script var myStyle = '<link rel="stylesheet" href="/javascipts/mystyle.css" />';
    script(src="/javascripts/card.js")
