if visitors.length > 0
    each visitor in visitors 
        div.card.w-100
            div(class=`card-header ${visitor.badge}`)
                h4.badge= visitor.hall
            div.card-body
                div.row
                    div.col-sm-12
                        h5.card-title= visitor.name
                        h5.card-title= visitor.name_ar
                        p.card-text
                            i.fas.fa-mobile-alt      #{visitor.phone}  
                        p.card-text
                            i.fas.fa-id-card       #{visitor.eid}
                        p.card-text
                            i.fas.fa-id-card       #{visitor.zone}
            div.card-header
                a(href="/card/"+visitor.id, class="btn btn-outline-dark float-right") 
                    i.far.fa-eye  View
else
    p no results found