extends index

block search-form
    form(id="search-form", style="width: 100%", class="needs-validation", novalidate, action="/search")
        .form-row.justify-content-md-center.alerts            
        div.form-row.justify-content-md-center            
            div.col-md-8.col-sm-12
                label(class="sr-only", for="keyword") Name
                div.input-group.mb-2
                    div.input-group-prepend
                        .input-group-text
                            i(class="fas fa-ad")
                            i(class="fas fa-address-card", style="display: none;")
                            i(class="fas fa-mobile-alt", style="display: none;")
                    input(type="text", id="keyword", name="keyword", class="form-control", placeholder="Name, mobile number or Emirates ID number...", required)
                    button(class="float-right", type="submit")
                        i.fas.fa-search
                    div.invalid-feedback Please input a valid name or mobile number or emirates ID number

block recommendations
    .results
        .row.justify-content-md-center            
            .col-md-8.col-sm-12
                h3 Results
                hr
                div(class="cards-loader", style="width: 100%")
                    div.row.justify-content-sm-center
                        .col-sm-12
                            i.fas.fa-spinner.fa-pulse
                div(class="cards-wrapper", style="width: 100%")

block extra-js
    script(src="/javascripts/form.js")