extends layout

block content
  dev.container
    .row.justify-content-md-center
      .col-md-8.col-sm-12
        block search-form
    .row.justify-content-md-center
      .col-md-8.col-sm-12
        block recommendations