@import url('https://fonts.googleapis.com/css?family=Tajawal');

#badgeArea {
    width: 80%;
    height: 100%;
    margin: 3rem auto 3rem auto;
    position: relative;
}

.print {
    text-align: center;
}

.print {
    margin-top: 2rem;
}

.print a {
    size: 1.5rem;
    color: dimgray;
}

.print a i.fas.fa-print {
    font-size: 1rem;
    padding-right: .5rem;
}

#badgeArea .badge-img {
    width: 100%;
}

#badgeArea .name-holder {
    position: absolute;
    top: 30%;
    width: 50%;
}

#badgeArea .name-holder h1{
    font-family: 'Tajawal', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@page {
    size: 255mm 145mm;
    size: landscape;
    margin: 0;
}

@media print {
    html, body {
        width: 255mm;
        height: 145mm;
        margin: 0;
    }

    @page {
        size: 255mm 145mm;
        size: landscape;
        margin: 0;
    }

    .print{
        display: none;
    }

    #badgeArea {
        width: 255mm;
        height: 145mm;
        margin: 0;
        position: relative;
    }
    
    #badgeArea .badge-img {
        width: 100%;
    }
    
    #badgeArea .name-holder {
        position: absolute;
        top: 5cm;
        width: 12.55cm;
    }
    
    #badgeArea .name-holder h1{
        font-family: 'Tajawal', sans-serif;
        font-size: .7cm;
        text-align: center;
    }
}

