body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container, .container-fluid {
  display: block;
  padding-top: 5rem; 
}

.container-fluid #allcards button.table-view {
  padding: .15rem .7rem;
}

.results .cards-loader{
  display: none;
  padding: 2rem;
}

.results .cards-loader i.fas{
  width: 1.5rem;
  margin: auto;
  display: block;
  font-size: 1.5rem;
  color: #007bffa6;
}

.results .cards-wrapper .card{
  margin-bottom: .5rem;
}

.results .cards-wrapper .card .card-header.abd {
  border-bottom: 1px solid #cc5861;
}

.results .cards-wrapper .card .card-header.abd h4 {
  color: #cc5861;
}

.results .cards-wrapper .card .card-header.ain {
  border-bottom: 1px solid #4fa054;
}

.results .cards-wrapper .card .card-header.ain h4 {
  color: #4fa054;
}

.results .cards-wrapper .card .card-header.all {
  border-bottom: 1px solid #054062;
}

.results .cards-wrapper .card .card-header.all h4 {
  color: #054062;
}

.results .cards-wrapper .card .card-header h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.results .cards-wrapper .card .card-header a.btn {
  padding: .175rem .75rem;
}

.results .cards-wrapper .card .card-body a.badge {
  position: absolute;
  top: -1.5rem;
  right: 3.5rem;
  font-size: 1rem;
  padding: 3.75rem 1.2rem;
  background: red;
  color: white;
  text-transform: uppercase;
  border-radius: 0;
}

#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .fa-search{
  font-size: 23px;
}
